n8n file/SUB_ File Processor.json
{
  "name": "SUB: File Processor",
  "nodes": [
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "lead-files007",
        "fileName": "={{ \"leads/\" + $binary.data0.fileName }}\n",
        "binaryPropertyName": "data0",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.awsS3",
      "typeVersion": 2,
      "position": [
        -672,
        256
      ],
      "id": "cf0e2f12-1efa-497d-8a6f-38e76ec767f4",
      "name": "Upload a file1",
      "alwaysOutputData": false,
      "credentials": {
        "aws": {
          "id": "Khx9LZlXhaeFLJDz",
          "name": "AWS (IAM) account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "96a6171f",
              "name": "s3_link",
              "value": "={{ \"https://lead-files007.s3.ap-south-1.amazonaws.com/leads/\" + $('When Executed by Another Workflow').item.binary.data0.fileName }}",
              "type": "string"
            },
            {
              "id": "26c64e11",
              "name": "binary",
              "value": "={{ $('When Executed by Another Workflow').item.binary['data0'] }}",
              "type": "binary"
            },
            {
              "id": "e527bc4e",
              "name": "email",
              "value": "={{ $json.email }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -224,
        256
      ],
      "id": "437db484-4b04-47cd-88ea-74f5cd8ce5ee",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": "n8n_demo",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "c37048c6-2241-4874-a018-290ec14528ff",
      "name": "Postgres PGVector Store1",
      "credentials": {
        "postgres": {
          "id": "PayuJ4kTygcVxBeP",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        0,
        224
      ],
      "id": "7538d219-3751-477f-b15b-12a47a28e16c",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "4A4ylbgvibmNTjYc",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "email",
                "value": "={{ $json.email }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        256,
        224
      ],
      "id": "64aab67c-10fa-4554-9f74-0f7be23db88f",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "binary",
        "options": {}
      },
      "id": "47bb34d6-5424-4f2c-b3b9-e564b2c67a80",
      "name": "Extract Text from File1",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        64,
        400
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are an AI assistant that extracts structured project information from documents.\n\nReturn ONLY valid JSON. No explanations. No markdown. No extra text.\n\nExtract ONLY: requirements (array of plain strings).\nCombine all functional, non-functional, technical specs, technologies, infrastructure, integrations, architecture.\nAdd ONE final string: \"SOURCE: {{ $('When Executed by Another Workflow').item.binary.data0.fileName }}\"\n\nIf nothing found: {\"requirements\": null}"
        }
      },
      "id": "fba081a6-4618-4940-a8e9-727f2b2279aa",
      "name": "Extract Important Features1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        352,
        400
      ]
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"requirements\": {\n      \"type\": \"array\",\n      \"items\": { \"type\": \"string\" }\n    }\n  },\n  \"required\": [\"requirements\"]\n}"
      },
      "id": "143807d4-2c97-4907-b012-ec3004c10da4",
      "name": "Structured Output Parser1",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        480,
        624
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b0bd6b72",
              "name": "requirements",
              "value": "={{ JSON.stringify($json.output.requirements) }}",
              "type": "string"
            },
            {
              "id": "70516a50",
              "name": "filename",
              "value": "={{ $('When Executed by Another Workflow').item.binary.data0.fileName }}",
              "type": "string"
            },
            {
              "id": "93169e6",
              "name": "email",
              "value": "={{ $('Edit Fields2').item.json.email }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        704,
        400
      ],
      "id": "f47ffd29-523c-4253-bed5-16b9800e26b4",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        352,
        624
      ],
      "id": "1fedb652-7be0-4097-b238-9011bf7fe6da",
      "name": "Google Gemini Chat Model3",
      "credentials": {
        "googlePalmApi": {
          "id": "4A4ylbgvibmNTjYc",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE leads SET requirements = COALESCE(requirements, '[]'::jsonb) || '{{ $json.requirements }}'::jsonb WHERE email = '{{ $json.email }}';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        928,
        400
      ],
      "id": "df01f342-450f-4168-b830-1dab8b1d8493",
      "name": "Execute a SQL query1",
      "credentials": {
        "postgres": {
          "id": "PayuJ4kTygcVxBeP",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c320db6c",
              "name": "file_processed",
              "value": "true",
              "type": "string"
            },
            {
              "id": "c79a7cab",
              "name": "email",
              "value": "={{ $('Edit Fields4').item.json.email }}",
              "type": "string"
            },
            {
              "id": "ac4fc3e8",
              "name": "sessionId",
              "value": "={{ $('When Executed by Another Workflow').item.json.sessionId }}",
              "type": "string"
            },
            {
              "id": "91460f1c",
              "name": "chatInput",
              "value": "SYSTEM_FILE_PROCESSED",
              "type": "string"
            },
            {
              "id": "b120992a-4c11-42d1-96b7-b052274519d9",
              "name": "s3_link",
              "value": "={{ $('Edit Fields2').item.json.s3_link }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1360,
        400
      ],
      "id": "c249db5b-019d-45b7-885d-649d90c9867d",
      "name": "Edit Fields5"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT current_email AS email\nFROM session_active_user\nWHERE sessionid = '{{ $('When Executed by Another Workflow').item.json.sessionId }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -448,
        256
      ],
      "id": "f2792904-df86-4f63-a497-752f5295657d",
      "name": "Execute a SQL query",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "PayuJ4kTygcVxBeP",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -896,
        256
      ],
      "id": "236e86c0-6471-44f6-bf93-a67a62769ff0",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE leads\nSET files = COALESCE(files, '[]'::jsonb) || jsonb_build_array(\n  jsonb_build_object(\n    'file_id', gen_random_uuid(),\n    's3_url', '{{ $('Edit Fields2').item.json.s3_link }}',\n    'uploaded_at', CURRENT_TIMESTAMP\n  )\n)\nWHERE email = '{{ $('Edit Fields2').item.json.email }}';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1136,
        400
      ],
      "id": "0d4f80b3-f05a-494f-b1b0-d43b90e991ea",
      "name": "update_files",
      "credentials": {
        "postgres": {
          "id": "PayuJ4kTygcVxBeP",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Upload a file1": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Postgres PGVector Store1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract Text from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Postgres PGVector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Postgres PGVector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Extract Text from File1": {
      "main": [
        [
          {
            "node": "Extract Important Features1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Important Features1": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Extract Important Features1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Execute a SQL query1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Extract Important Features1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query1": {
      "main": [
        [
          {
            "node": "update_files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Upload a file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_files": {
      "main": [
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "3ca64ac1-3d9e-4584-b94b-131e4240915b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fdf69033afc83c2a5fffb2d2cf97308b9d71ed028d01728ca98784adc1ae74ab"
  },
  "id": "Jqp1FltghxpBjFJn",
  "tags": []
}