n8n file/whatsapp_flow_latest.json
{
  "nodes": [
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT sau.current_email AS email, ssp.pending_email AS pending_switch_email, ssp.phone AS pending_switch_phone, ssp.otp_sent AS otp_sent\nFROM session_active_user sau\nLEFT JOIN session_switch_pending ssp ON ssp.sessionid = sau.sessionid\nWHERE sau.sessionid = '{{ $('Map Twilio Payload').item.json.sessionId }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1632,
        384
      ],
      "id": "15b21ca6-504b-4cc1-b560-949343a536ea",
      "name": "Get Session State",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "PayuJ4kTygcVxBeP",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "otp-pending-check",
              "leftValue": "={{ $json.otp_sent }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1456,
        384
      ],
      "id": "05ad77dd-4fe7-4727-8738-60d290d6d49d",
      "name": "IF: OTP Pending?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "778015d7-4ffe-4a98-974d-e336efb7b7a8",
              "leftValue": "={{ $('Map Twilio Payload').item.json.chatInput.trim().toLowerCase() }}",
              "rightValue": "cancel",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -560,
        0
      ],
      "id": "27c184f8-8200-46ea-a3ed-ebb277cf93be",
      "name": "if: cancel"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM session_switch_pending \nWHERE sessionid = '{{ $('Map Twilio Payload').item.json.sessionId }}';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -336,
        -96
      ],
      "id": "8d5b7e55-2e09-47e5-9f60-d584257f6c91",
      "name": "Execute a SQL query3",
      "credentials": {
        "postgres": {
          "id": "PayuJ4kTygcVxBeP",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "799649e4-ff0c-4962-81ed-e14cb278d379",
              "name": "chatInput",
              "value": "SYSTEM_SWITCH_CANCELLED",
              "type": "string"
            },
            {
              "id": "94d8a668-cd69-4afd-b0c6-c2a17877cfa1",
              "name": "sessionId",
              "value": "={{ $('Map Twilio Payload').item.json.sessionId }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -112,
        -96
      ],
      "id": "b1ccc5ad-3f4c-476d-91a3-78b0f7b468b7",
      "name": "Edit Fields6"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "switch-regex",
              "leftValue": "={{ $('Map Twilio Payload').item.json.chatInput }}",
              "rightValue": "^switch\\s+",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1232,
        576
      ],
      "id": "6bb422ba-d02b-4153-b51a-d97bfb6457da",
      "name": "IF: Switch Command?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "email-detect",
              "leftValue": "={{ $('Map Twilio Payload').item.json.chatInput }}",
              "rightValue": "[\\w.+\\-]+@[\\w\\-]+\\.[a-zA-Z]{2,}",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1008,
        672
      ],
      "id": "a4fa887e-2b11-4a20-bd44-aa2c3784bbf1",
      "name": "IF: Email in Message?1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "extract-email",
              "name": "detected_email",
              "value": "={{ $('Map Twilio Payload').item.json.chatInput.match(/[\\w.+\\-]+@[\\w\\-]+\\.[a-zA-Z]{2,}/)?.[0] ?? '' }}",
              "type": "string"
            },
            {
              "id": "original-msg",
              "name": "original_message",
              "value": "={{ $('Map Twilio Payload').item.json.chatInput }}",
              "type": "string"
            },
            {
              "id": "session-id",
              "name": "sessionId",
              "value": "={{ $('Map Twilio Payload').item.json.sessionId }}",
              "type": "string"
            },
            {
              "id": "active-email",
              "name": "active_email",
              "value": "={{ $('Get Session State').item.json.email ?? '' }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -784,
        576
      ],
      "id": "bf235f4e-fdf0-4c3e-9c05-57cb0bcb9e93",
      "name": "Extract Email1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM leads WHERE email = '{{ $json.detected_email }}' LIMIT 1;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -560,
        576
      ],
      "id": "9addd81e-cc0e-4cc8-abce-46cb3a68096a",
      "name": "Check Email in DB1",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "PayuJ4kTygcVxBeP",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "user-exists",
              "leftValue": "={{ $json.email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -336,
        576
      ],
      "id": "9417fdd6-b940-4ac4-90b4-c3a6cdb99a34",
      "name": "IF: User Exists?1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "existing-ctx",
              "name": "chatInput",
              "value": "={{ 'EXISTING_USER::email::' + $('Extract Email1').item.json.detected_email + '::name::' + ($json.name ?? '') + '::company::' + ($json.company ?? '') + '::product_idea::' + ($json.product_idea ?? '') + '::budget::' + ($json.budget ?? '') + '::timeline::' + ($json.timeline ?? '') + '::urgency::' + ($json.urgency ?? '') + '::stage::' + ($json.stage ?? '') + '::market::' + ($json.market ?? '') + '::kpi::' + ($json.kpi ?? '') + '::expectations::' + ($json.expectations ?? '') + '::phone::' + ($json.phone ?? '') + '::original_message::' + $('Extract Email1').item.json.original_message }}",
              "type": "string"
            },
            {
              "id": "existing-sid",
              "name": "sessionId",
              "value": "={{ $('Extract Email1').item.json.sessionId }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -112,
        480
      ],
      "id": "ff552309-802e-4033-acae-fdfead5b3025",
      "name": "Set Existing User Context1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "new-ctx",
              "name": "chatInput",
              "value": "={{ 'NEW_USER::email::' + $('Extract Email1').item.json.detected_email + '::original_message::' + $('Extract Email1').item.json.original_message }}",
              "type": "string"
            },
            {
              "id": "new-sid",
              "name": "sessionId",
              "value": "={{ $('Extract Email1').item.json.sessionId }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -112,
        688
      ],
      "id": "7559ddb1-ed9e-4f27-81ee-cc4081a511d7",
      "name": "Set New User Context1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "plain-chat",
              "name": "chatInput",
              "value": "={{ $('Map Twilio Payload').item.json.chatInput }}",
              "type": "string"
            },
            {
              "id": "plain-sid",
              "name": "sessionId",
              "value": "={{ $('Map Twilio Payload').item.json.sessionId }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -112,
        864
      ],
      "id": "b6ed633e-7ef0-4918-baf1-e19161c3578c",
      "name": "Set Plain Input1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput || $json.s3_link }}\n",
        "options": {
          "systemMessage": "=You are Adra's AI product consultant. Your job is to qualify leads step-by-step through structured conversation.\n\nYou must reason carefully before responding. Follow the evaluation order strictly. Never skip steps.\n\n==================================================\nSYSTEM CONTEXT TAGS\n\nThe pre-processing system injects these tags — read and act immediately:\n\n1. EXISTING_USER::email::<e>::name::<n>::...\n   → User exists. Greet warmly by name. Never re-ask fields that have values.\n   → Find FIRST empty field: name, product_idea, company, budget, timeline, urgency, stage, market, kpi, expectations.\n   → Ask ONLY that one field.\n   → If ALL fields filled: end conversation with thank you.\n   → Call update_details1 with email to register session.\n\n2. NEW_USER::email::<e>::original_message::<msg>\n   → Brand new user. Call update_details1 with email (and name if known).\n   → Ask for phone next.\n\n3. SYSTEM_OTP_SENT_EMAIL\n   → Reply exactly:\n   To keep your account secure, we've sent a verification code to your email address.\n   Please enter the 6-digit code to proceed.\n\n4. SYSTEM_ASK_OTP_PREFERENCE::pending_email::<email>::phone::<phone>\n   → Reply exactly:\n   To keep your account secure, we'd like to verify your identity with a one-time code.\n   Would you prefer to receive it via your registered phone number or email?\n   → If user replies phone/sms:\n   call send_otp1(to: <phone>, channel: \"sms\")\n   immediately call mark otp sent\n   reply: A verification code has been sent. Please enter the 6-digit code to proceed.\n   → If user replies email:\n   call send_otp1(to: <pending_email>, channel: \"email\")\n   immediately call mark otp sent\n   reply: A verification code has been sent. Please enter the 6-digit code to proceed.\n\n5. SYSTEM_ALREADY_THIS_ACCOUNT\n   → Reply exactly:\n   You are already using this account.\n   Would you like to continue from where we left off?\n\n6. SYSTEM_SWITCH_NOT_FOUND\n   → Reply exactly:\n   I couldn't find an account with that email.\n   Please confirm your name and email to create a new account.\n\n7. SYSTEM_OTP_WAITING\n   → Reply exactly:\n   You have a pending account switch verification.\n   Please enter the 6-digit code we sent or type cancel to abort.\n   → If user types cancel: reply: Account switch has been cancelled. You're still using your current account.\n\n8. SYSTEM_OTP_FAILED\n   → Reply exactly:\n   That code doesn't seem right. Please double-check and try again.\n   → If error was expiry: Your verification code has expired. Would you like us to send a new code?\n\n9. SYSTEM_SWITCH_CANCELLED\n   → Reply exactly:\n   Account switch has been cancelled. You're still using your current account.\n\n10. SYSTEM_FILE_PROCESSED\n   → Do NOT call any tools.\n   → Reply exactly:\n   Thanks for sharing your document.\n   It's now securely linked to your project.\n   <Ask the next missing required field>\n\nFor all other messages (no prefix): follow normal qualification flow below.\n\n==================================================\nEVALUATION ORDER\n\n1. Check for SYSTEM tags first — handle immediately and stop.\n2. Check for file/document related messages — guide user to attach.\n3. Field update logic.\n4. Ask next required field.\n\n==================================================\nCRITICAL RULES\n\nNever call update_details1 until BOTH name and email are known.\nIf only name provided, do NOT call any tool. Wait for email.\nNever call update_details1 if email is null, empty, or undefined.\nNever skip update_details1 when email is present.\nIf no email known yet, ask: Hi! I'm Adra's product consultant. What's your name?\nNever mention tools, databases, memory, or internal systems.\nNever fabricate data.\nNever send null, undefined, or empty fields.\nNever send fields not mentioned in current message.\nAsk exactly ONE question per reply.\nMaximum 3 lines per reply.\nAccept any input as a valid name — never re-ask for name.\n\n==================================================\nFILE MENTION RULE\n\nIf user mentions \"file\", \"document\", \"doc\", \"pdf\", \"upload\", \"attach\" but chatInput is NOT \"SYSTEM_FILE_PROCESSED\":\nReply exactly:\nSure! You can share your document by clicking the attachment icon in the chat.\nWe accept PDF, Word, Excel, and image files.\nDo NOT trigger any file processed logic.\n\n==================================================\nFIELD UPDATE LOGIC\n\nCall update_details1 with email + ONLY the field mentioned in THIS message.\nNever update fields not mentioned.\nNever send null/undefined/empty values.\n\n==================================================\nFIELD COLLECTION ORDER\n\nStep 1: name → email → phone\nAsk name first. Any reply = confirmed name, never re-ask.\nOnce name confirmed, ask email.\nOnce email provided, call update_details1(name + email). Ask phone.\nNever block on phone.\n\nStep 2: product_idea + company\nStep 3: budget\nStep 4: timeline\nStep 5: urgency\nStep 6: stage\nStep 7: market\nStep 8: kpi\nStep 9: expectations\n\nNever re-ask stored fields.\n\n==================================================\nBUDGET NORMALIZATION\n\n\"$50k\" → \"50000\"\n\"$1.5M\" → \"1500000\"\n\"₹20 lakhs\" → \"2000000\"\nNo symbols. No commas.\n\n==================================================\nCOMPLETION CHECK\n\nWhen ALL fields present (name, product_idea, company, budget, timeline, urgency, stage, market, kpi, expectations):\n→ End conversation naturally with a thank you message.\n\n==================================================\nRESPONSE RULES\n\nPlain text only. No markdown. No emojis.\nMaximum 3 lines. Exactly ONE question per reply.\nWarm and professional tone."
        }
      },
      "id": "e02f7c27-b99a-45d9-b42b-00aaef0d3487",
      "name": "Lead Qualification AI Agent1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        296,
        384
      ]
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Save or update lead information. Call this with email and any fields the user just provided.",
        "operation": "executeQuery",
        "query": "INSERT INTO leads (\n  email, name, company, product_idea,\n  budget, timeline, market, kpi,\n  expectations, stage, urgency, sessionid, phone\n)\nVALUES (\n  '{{ $json.email }}',\n  NULLIF('{{ $json.name }}', 'undefined'),\n  NULLIF('{{ $json.company }}', 'undefined'),\n  NULLIF('{{ $json.product_idea }}', 'undefined'),\n  NULLIF('{{ $json.budget }}', 'undefined')::integer,\n  NULLIF('{{ $json.timeline }}', 'undefined'),\n  NULLIF('{{ $json.market }}', 'undefined'),\n  NULLIF('{{ $json.kpi }}', 'undefined'),\n  NULLIF('{{ $json.expectations }}', 'undefined'),\n  NULLIF('{{ $json.stage }}', 'undefined'),\n  NULLIF('{{ $json.urgency }}', 'undefined'),\n  NULLIF('{{ $json.sessionId }}', 'undefined'),\n  NULLIF('{{ $json.phone }}', 'undefined')\n)\nON CONFLICT (email)\nDO UPDATE SET\n  name = COALESCE(EXCLUDED.name, leads.name),\n  company = COALESCE(EXCLUDED.company, leads.company),\n  product_idea = COALESCE(EXCLUDED.product_idea, leads.product_idea),\n  budget = COALESCE(EXCLUDED.budget, leads.budget),\n  timeline = COALESCE(EXCLUDED.timeline, leads.timeline),\n  market = COALESCE(EXCLUDED.market, leads.market),\n  kpi = COALESCE(EXCLUDED.kpi, leads.kpi),\n  expectations = COALESCE(EXCLUDED.expectations, leads.expectations),\n  stage = COALESCE(EXCLUDED.stage, leads.stage),\n  urgency = COALESCE(EXCLUDED.urgency, leads.urgency),\n  phone = COALESCE(EXCLUDED.phone, leads.phone),\n  sessionid = COALESCE(NULLIF(EXCLUDED.sessionid, 'undefined'), leads.sessionid),\n  last_updated = CURRENT_TIMESTAMP;\n\nINSERT INTO session_active_user (sessionid, current_email)\nVALUES ('{{ $json.sessionId }}', '{{ $json.email }}')\nON CONFLICT (sessionid)\nDO UPDATE SET current_email = EXCLUDED.current_email, updated_at = NOW();",
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        480,
        672
      ],
      "id": "a88bf6df-44bb-43c5-9b61-51e3f0a99e4c",
      "name": "update_details1",
      "credentials": {
        "postgres": {
          "id": "PayuJ4kTygcVxBeP",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        224,
        672
      ],
      "id": "26a02561-a5ee-4432-959a-c4550ed62abd",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "O23trCPoWvKHeSim",
          "name": "Google Gemini(PaLM) Api account 3"
        }
      }
    },
    {
      "parameters": {
        "tableName": "main_flow_chat",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        352,
        672
      ],
      "id": "10c42f50-2f40-4acd-97a5-a4d9d3a4e627",
      "name": "Postgres Chat Memory1",
      "credentials": {
        "postgres": {
          "id": "PayuJ4kTygcVxBeP",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE session_switch_pending SET otp_sent = true WHERE sessionid = '{{ $('Map Twilio Payload').item.json.sessionId }}';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        608,
        672
      ],
      "id": "5391dbad-680d-46c0-86f0-f9fe913532fd",
      "name": "mark otp sent",
      "credentials": {
        "postgres": {
          "id": "PayuJ4kTygcVxBeP",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Jqp1FltghxpBjFJn",
          "mode": "list",
          "cachedResultUrl": "/workflow/Jqp1FltghxpBjFJn",
          "cachedResultName": "SUB: File Processor"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "sessionId": "={{ $('Map Twilio Payload').item.json.sessionId }}",
            "chatInput": "={{ $('Map Twilio Payload').item.json.chatInput }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -112,
        -352
      ],
      "id": "93b54561-d333-4ccb-aa17-34b7de55e819",
      "name": "Call 'SUB: File Processor'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "KAFFquhy1BhqAwtx",
          "mode": "list",
          "cachedResultUrl": "/workflow/KAFFquhy1BhqAwtx",
          "cachedResultName": "SUB: OTP Verify"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "sessionId": "={{ $('Map Twilio Payload').item.json.sessionId }}",
            "chatInput": "={{ $('Map Twilio Payload').item.json.chatInput }}",
            "pending_email": "={{ $('Get Session State').item.json.pending_switch_email ?? '' }}",
            "pending_switch_phone": "={{ $('Get Session State').item.json.pending_switch_phone ?? '' }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "key": "sessionId",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "key": "chatInput",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "key": "pending_email",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "key": "pending_switch_phone",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -112,
        96
      ],
      "id": "dff49ba6-44d6-456c-a2b7-9e35a1502a21",
      "name": "Call 'SUB: OTP Verify'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "knDbmLap9slKber9",
          "mode": "list",
          "cachedResultUrl": "/workflow/knDbmLap9slKber9",
          "cachedResultName": "SUB: Account Switch Handler"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "sessionId": "={{ $('Map Twilio Payload').item.json.sessionId }}",
            "chatInput": "={{ $('Map Twilio Payload').item.json.chatInput }}",
            "active_email": "={{ $('Get Session State').item.json.email ?? '' }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "key": "sessionId",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "key": "chatInput",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "key": "active_email",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -112,
        288
      ],
      "id": "2e09ef3d-6b9c-445c-930c-8a5ab3eb2562",
      "name": "Call 'SUB: Account Switch Handler'"
    },
    {
      "parameters": {
        "toolDescription": "Send a one-time verification code to the user. \nPass 'to' (email address or phone in E.164 format) \nand 'channel' (either \"email\" or \"sms\") based on user preference.",
        "method": "POST",
        "url": "https://verify.twilio.com/v2/Services/VAbe62a073cc99f7b994fd5cc72dc4f5ff/Verifications",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "twilioApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/x-www-form-urlencoded"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "To",
              "value": "={{ $json.to }}"
            },
            {
              "name": "Channel",
              "value": "={{ $json.channel }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        736,
        672
      ],
      "id": "d67b4fb4-7456-4e88-b6f1-740e4a58f3e9",
      "name": "send_otp1",
      "credentials": {
        "twilioApi": {
          "id": "7BzSOgzrDymm6Hix",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chatbot",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2576,
        480
      ],
      "id": "29c499a9-be7d-48ca-91d0-20ada80247f1",
      "name": "Webhook",
      "webhookId": "d0679c8c-9c3a-40a2-b817-e24645a3e826"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "map-chat-input",
              "name": "chatInput",
              "value": "={{ $json.body.Body ?? $json.body.chatInput ?? '' }}",
              "type": "string"
            },
            {
              "id": "map-session-id",
              "name": "sessionId",
              "value": "={{ $json.body.WaId ?? $json.body.sessionId ?? '' }}",
              "type": "string"
            },
            {
              "id": "map-from",
              "name": "from",
              "value": "={{ $json.body.From ?? 'ui' }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2352,
        480
      ],
      "id": "f6286749-c3e5-474c-a6c4-72f8f75a8cb0",
      "name": "Map Twilio Payload"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "is-whatsapp-check",
              "leftValue": "={{ $('Map Twilio Payload').item.json.from }}",
              "rightValue": "ui",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2144,
        544
      ],
      "id": "501392f5-aaaa-4ea5-a90b-3505cb3f9b4f",
      "name": "IF: WhatsApp or UI?"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=<?xml version=\"1.0\" encoding=\"UTF-8\"?><Response></Response>",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/xml"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -1872,
        752
      ],
      "id": "7efeb078-fde0-46c9-93c7-1e9cf3610f1a",
      "name": "Acknowledge Twilio",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "reply-channel-check",
              "leftValue": "={{ $('Map Twilio Payload').item.json.from }}",
              "rightValue": "ui",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        832,
        384
      ],
      "id": "b9574e9d-a7dc-4349-ae65-1a89f23be6e7",
      "name": "IF: Reply via WhatsApp or UI?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.twilio.com/2010-04-01/Accounts/ACcadc4931b9d7af831647623949849087/Messages.json",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "twilioApi",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "To",
              "value": "={{ $('Map Twilio Payload').item.json.from }}"
            },
            {
              "name": "From",
              "value": "whatsapp:+14155238886"
            },
            {
              "name": "Body",
              "value": "={{ $('Lead Qualification AI Agent1').item.json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1056,
        288
      ],
      "id": "67a24c4c-9db8-4283-aa4d-5b6a7a974aa4",
      "name": "Send WhatsApp Reply",
      "credentials": {
        "twilioApi": {
          "id": "7BzSOgzrDymm6Hix",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ output: $('Lead Qualification AI Agent1').item.json.output }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1056,
        480
      ],
      "id": "3ccac7a9-f2c5-4eed-9216-45f23ca5ea2a",
      "name": "Respond to UI",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "4613a34d-aa84-486e-8162-7181ebe4df2f",
              "leftValue": "={{ Boolean($binary?.data0 || $binary?.file || $binary?.data) }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1856,
        320
      ],
      "id": "2d7397c0-04a2-49f4-9277-15598f7cbec8",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "normalize-binary",
              "name": "data0",
              "value": "={{ $binary.file || $binary.data || $binary.data0 }}",
              "type": "binary"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -400,
        -352
      ],
      "id": "normalize-binary-node",
      "name": "Normalize Binary Name"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "whatsapp-media-check",
              "leftValue": "={{ $json.body.MediaUrl0 }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2000,
        752
      ],
      "id": "if-whatsapp-media",
      "name": "If: Has WhatsApp Media?"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.body.MediaUrl0 }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "twilioApi",
        "options": {
          "responseFormat": "file",
          "dataPropertyName": "data0"
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1800,
        850
      ],
      "id": "download-whatsapp-media",
      "name": "Download WhatsApp Media",
      "credentials": {
        "twilioApi": {
          "id": "7BzSOgzrDymm6Hix",
          "name": "Twilio account"
        }
      }
    }
  ],
  "connections": {
    "Get Session State": {
      "main": [
        [
          {
            "node": "IF: OTP Pending?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: OTP Pending?": {
      "main": [
        [
          {
            "node": "if: cancel",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF: Switch Command?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "if: cancel": {
      "main": [
        [
          {
            "node": "Execute a SQL query3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'SUB: OTP Verify'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query3": {
      "main": [
        [
          {
            "node": "Edit Fields6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields6": {
      "main": [
        [
          {
            "node": "Lead Qualification AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Switch Command?": {
      "main": [
        [
          {
            "node": "Call 'SUB: Account Switch Handler'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF: Email in Message?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Email in Message?1": {
      "main": [
        [
          {
            "node": "Extract Email1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Plain Input1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Email1": {
      "main": [
        [
          {
            "node": "Check Email in DB1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Email in DB1": {
      "main": [
        [
          {
            "node": "IF: User Exists?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: User Exists?1": {
      "main": [
        [
          {
            "node": "Set Existing User Context1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set New User Context1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Existing User Context1": {
      "main": [
        [
          {
            "node": "Lead Qualification AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set New User Context1": {
      "main": [
        [
          {
            "node": "Lead Qualification AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Plain Input1": {
      "main": [
        [
          {
            "node": "Lead Qualification AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lead Qualification AI Agent1": {
      "main": [
        [
          {
            "node": "IF: Reply via WhatsApp or UI?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_details1": {
      "ai_tool": [
        [
          {
            "node": "Lead Qualification AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Lead Qualification AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory1": {
      "ai_memory": [
        [
          {
            "node": "Lead Qualification AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "mark otp sent": {
      "ai_tool": [
        [
          {
            "node": "Lead Qualification AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Call 'SUB: File Processor'": {
      "main": [
        [
          {
            "node": "Lead Qualification AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'SUB: OTP Verify'": {
      "main": [
        [
          {
            "node": "Lead Qualification AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'SUB: Account Switch Handler'": {
      "main": [
        [
          {
            "node": "Lead Qualification AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "send_otp1": {
      "ai_tool": [
        [
          {
            "node": "Lead Qualification AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Map Twilio Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map Twilio Payload": {
      "main": [
        [
          {
            "node": "IF: WhatsApp or UI?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: WhatsApp or UI?": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Acknowledge Twilio",
            "type": "main",
            "index": 0
          },
          {
            "node": "If: Has WhatsApp Media?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If: Has WhatsApp Media?": {
      "main": [
        [
          {
            "node": "Download WhatsApp Media",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download WhatsApp Media": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Reply via WhatsApp or UI?": {
      "main": [
        [
          {
            "node": "Send WhatsApp Reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to UI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Normalize Binary Name",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Session State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Binary Name": {
      "main": [
        [
          {
            "node": "Call 'SUB: File Processor'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "fdf69033afc83c2a5fffb2d2cf97308b9d71ed028d01728ca98784adc1ae74ab"
  }
}
